{% extends 'base.html' %}
{% load i18n %}



{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="mt-4 mb-4">{% trans "What is Chillauskeskus?" %}</h2>
        <p class="lead">{% trans "Chillauskeskus is a three-day event aimed at educating young people about climate change. The event will take place from July 17 to July 19, 2023 and will feature live music, film screenings, guest speakers, and more. Come learn about the impact of climate change and how you can make a difference." %}
        </p>
        <p>{% trans "Join us at Chillauskeskus and take action to combat climate change! Register now and join a community of young people who are passionate about creating a sustainable future." %}</p>
      </div>
    </div>
  </div>
{% endblock %}
