{% extends "base.html" %}

{% block content %}

{% load i18n %}

<h1 class="text-center">Support Sign Up</h1>
<form method="post">
  {% csrf_token %}
  <div class="mx-auto mb-3 col-6">
    <label for="{{ form.name.id_for_label }}" class="form-label">{% trans "Nickname" %}</label>
    {{ form.name }}
  </div>
  <div class="mx-auto mb-3 col-6">
    <label for="{{ form.email.id_for_label }}" class="form-label">{% trans "Email" %}</label>
    {{ form.email }}
  </div>
  <div class="mx-auto mb-3 col-6">
    <label for="{{ form.role.id_for_label }}" class="form-label">{% trans "Role" %}</label>
    {{ form.role }}
  </div>
  <div class="mx-auto mb-3 col-6">
    <label for="{{ form.shifts.id_for_label }}" class="form-label">{% trans "Shifts" %}</label>
    {{ form.shifts }}
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
  </div>
</form>
<script>
  // Make an AJAX call to the server to get the shifts for the selected role
  const roleSelect = document.querySelector("#id_role");
  const shiftsSelect = document.querySelector("#id_shifts");

  roleSelect.addEventListener("change", async (event) => {
    const response = await fetch(`/get_shifts_for_role/${event.target.value}/`);
    const data = await response.json();
    // Update the list of shifts
    shiftsSelect.innerHTML = "";
    for (const shift of data) {
      const option = document.createElement("option");
      option.value = shift.id;
      option.textContent = `${shift.date} ${shift.start_time}-${shift.end_time}`;
      shiftsSelect.appendChild(option);
    }
  });
</script>
{% endblock %}